<p-toast></p-toast>
<div class="flex my-3 justify-content-between">
  <div>
    <h4 class="title">Gestión de fichas tecnicas</h4>
  </div>
</div>

<p-card styleClass="custom-padding">
  <form [formGroup]="form_search">
    <div class="formgrid grid">
      <div class="field col-12 md:col-4 lg:col-3">
        <label htmlFor="tipo_documento">Tipo de documento</label>
        <p-dropdown placeholder="Seleccione" [options]="comboTipoDocumento" styleClass="w-full p-inputtext-sm" formControlName="tipo_documento" optionLabel="descripcion" optionValue="valor" [autoDisplayFirst]="false" [showClear]="true"></p-dropdown>
      </div>
      <div class="field col-12 md:col-4 lg:col-3">
        <label htmlFor="numero_documento">Número de documento</label>
        <input placeholder="" type="string" formControlName="numero_documento" class="max-w-full p-inputtext-sm w-full" pInputText/>
      </div>
      <div class="field col-12 md:col-4 lg:col-3 flex align-items-end">
        <p-button icon="pi pi-search" [label]="isLoadingSearch ? 'Buscando...' : 'Buscar'" (onClick)="getUser()" styleClass="btn-primary"></p-button>
      </div>
    </div>
  </form>
</p-card>

<div *ngIf="swMostrarDatos">
  <p-card styleClass="mt-3 custom-padding">
    <div class="flex overflow-hidden">
      <div class="flex-none flex align-items-center justify-content-center  mr-3">
        <p-avatar icon="pi pi-user" styleClass="mr-2" size="xlarge" shape="circle" *ngIf="gestionAspirante.aspirante.foto == undefined || gestionAspirante.aspirante.foto == ''" />
        <p-avatar styleClass="mr-2" size="xlarge" shape="circle" *ngIf="gestionAspirante.aspirante.foto != undefined || gestionAspirante.aspirante.foto != ''">
          <img [src]="gestionAspirante.aspirante.foto" styleClass="mr-2" size="xlarge" shape="circle"/>
        </p-avatar>
      </div>
      <div class="flex-grow-1 flex flex-column align-items-start justify-content-start">
        <div class="flex align-items-start justify-content-start">
          <label class="font-bold p-2">{{ gestionAspirante.aspirante.nombre | uppercase }} {{ gestionAspirante.aspirante.primerApellido | uppercase }} {{ gestionAspirante.aspirante.segundoApellido | uppercase }}</label>
          <label class="p-2">Identificacion: {{ gestionAspirante.aspirante.identificacion }}</label>
          <label class="p-2">Grado o Cargo: {{ gestionAspirante.aspirante.grado }}</label>
        </div>
        <div class="flex align-items-start justify-content-start">
          <label class="p-2">Direccion: {{ gestionAspirante.aspirante.direccion }}</label>
          <label class="p-2">Edad: 35</label>
          <label class="p-2">Sexo: {{ gestionAspirante.aspirante.sexo | sexocompleto }}</label>
        </div>
        <div class="flex align-items-start justify-content-start">
          <label class="p-2">Nacionalidad: {{ gestionAspirante.aspirante.nacionalidad }}</label>
          <label class="p-2">Fuerza: {{ gestionAspirante.aspirante.fuerza }}</label>
        </div>
      </div>
      <div class="flex-none flex align-items-center justify-content-center gap-3">
        <p-button icon="pi pi-download" (onClick)="showDialogCargarAgjuntosUsuario()" label="Cargar/ Ver Adjunto" *ngIf="authService.isPermiso('gestionaspirante.carguedocumento')" styleClass="btn-primary" ></p-button>
        <p-button icon="pi pi-eye" label="Revisar ficha tecnica" styleClass="btn-primary" *ngIf="authService.isPermiso('gestionaspirante.revisionfichatecnica')"></p-button>
      </div>
    </div>
  </p-card>

  <p-card styleClass="mt-3 custom-padding" *ngIf="authService.isPermiso('gestionaspirante.verlaboratorio')">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'width': '20%'}">
        <label class="font-bold p-2">Laboratorio</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="font-bold p-2">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Admisionar" styleClass="btn-primary" name="admisionarL"  *ngIf="authService.isPermiso('gestionaspirante.admisionar.laboratorio')"></p-button>
        <p-button icon="pi pi-upload" label="Cargar" styleClass="btn-primary" (onClick)="showCargarFormulario('Laboratorio')" *ngIf="authService.isPermiso('gestionaspirante.adjuntarFormulario.laboratorio')"></p-button>
        <p-button icon="pi pi-eye" label="Visualizar" styleClass="btn-primary" name="VisualisarLb" *ngIf="authService.isPermiso('gestionaspirante.visualizarlaboratorio')"></p-button>
        <p-button icon="pi pi-thumbs-up-fill" label="Concepto" styleClass="btn-primary" name="ValorarLb" *ngIf="authService.isPermiso('gestionaspirante.valorarlaboratorio')"></p-button>
      </div>
    </div>
  </p-card>

  <p-card styleClass="mt-3 custom-padding" *ngIf="authService.isPermiso('gestionaspirante.vermedicinageneral')">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'max-width': '20%'}">
        <label class="font-bold p-2">Medicina General</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="text-red-300 text-base">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Admisionar" styleClass="btn-primary" name="admisionarMg" *ngIf="authService.isPermiso('gestionaspirante.admisionar.medicinageneral')"></p-button>
        <p-button icon="pi pi-file-edit" label="Llenar" styleClass="btn-primary" name="llenadoMg" *ngIf="authService.isPermiso('gestionaspirante.llenarmedicinageneral')"></p-button>
        <p-button icon="pi pi-upload" label="Cargar" styleClass="btn-primary" (onClick)="showCargarFormulario('Medicina General')" *ngIf="authService.isPermiso('gestionaspirante.adjuntarFormulario.medicinageneral')"></p-button>
        <p-button icon="pi pi-eye" label="Visualizar" name="visualizarMg" styleClass="btn-primary" *ngIf="authService.isPermiso('gestionaspirante.visualizarmedicinageneral')"></p-button>
        <p-button icon="pi pi-thumbs-up-fill" label="Concepto" styleClass="btn-primary" name="valorarMg" *ngIf="authService.isPermiso('gestionaspirante.valorarmedicinageneral')"></p-button>
      </div>
    </div>
  </p-card>

  <p-card styleClass="mt-3 custom-padding" *ngIf="authService.isPermiso('gestionaspirante.verodontologia')">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'width': '20%'}">
        <label class="font-bold p-2">Odontologia</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="font-bold p-2">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Admisionar" styleClass="btn-primary" name="admisionarOt"  *ngIf="authService.isPermiso('gestionaspirante.admisionar.odontologia')"></p-button>
        <p-button icon="pi pi-file-edit" label="Llenar" styleClass="btn-primary" name="llenarOt" *ngIf="authService.isPermiso('gestionaspirante.llenarodontologia')"></p-button>
        <p-button icon="pi pi-upload" label="Cargar" styleClass="btn-primary" (onClick)="showCargarFormulario('Odontología')" *ngIf="authService.isPermiso('gestionaspirante.adjuntarFormulario.odontologia')"></p-button>
        <p-button icon="pi pi-eye" label="Visualizar" styleClass="btn-primary" name="visualizarOt" *ngIf="authService.isPermiso('gestionaspirante.visualizarodontologia')"></p-button>
        <p-button icon="pi pi-thumbs-up-fill" label="Concepto" styleClass="btn-primary" name="valorarOt" *ngIf="authService.isPermiso('gestionaspirante.valorarodontologia')"></p-button>
      </div>
    </div>
  </p-card>

  <p-card styleClass="mt-3 custom-padding" *ngIf="authService.isPermiso('gestionaspirante.verpsicologia')">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'width': '20%'}">
        <label class="font-bold p-2">Psicólogia</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="font-bold p-2 text-green-500">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Admisionar" styleClass="btn-primary" name="admisionarPs"  *ngIf="authService.isPermiso('gestionaspirante.admisionar.psicologia')"></p-button>
        <p-button icon="pi pi-file-edit" label="Llenar" styleClass="btn-primary" name="LlenarPs" *ngIf="authService.isPermiso('gestionaspirante.llenarpsicologia')"></p-button>
        <p-button icon="pi pi-upload" label="CAQ" styleClass="btn-primary" (onClick)="showCargarFormulario('CAQ')" *ngIf="!authService.isPermiso('gestionaspirante.adjuntarFormulario.psicologia.caq')"></p-button>
        <p-button icon="pi pi-upload" label="Cargar" styleClass="btn-primary" (onClick)="showCargarFormulario('Psicología')" name="CargarPs" *ngIf="authService.isPermiso('gestionaspirante.adjuntarFormulario.psicologia')"></p-button>
        <p-button icon="pi pi-eye" label="Visualizar" styleClass="btn-primary" name="VisualizarPs" *ngIf="authService.isPermiso('gestionaspirante.visualizarpsicologia')"></p-button>
        <p-button icon="pi pi-thumbs-up-fill" label="Concepto" styleClass="btn-primary" name="ValorarPs" *ngIf="authService.isPermiso('gestionaspirante.valorarpsicologia')"></p-button>
      </div>
    </div>
  </p-card>

  <p-card styleClass="mt-3 custom-padding" *ngIf="authService.isPermiso('gestionaspirante.vermedicolaboral')">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'width': '20%'}">
        <label class="font-bold p-2">Revision y calificacion</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="font-bold p-2">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Admisionar" styleClass="btn-primary" name="admisionar"  *ngIf="authService.isPermiso('gestionaspirante.admisionar.medicolaboral')"></p-button>
        <p-button icon="pi pi-file-edit" label="Llenar" styleClass="btn-primary" *ngIf="authService.isPermiso('gestionaspirante.llenarmedicolaboral')"></p-button>
      </div>
    </div>
  </p-card>
  <p-card styleClass="mt-3 custom-padding">
    <div class="flex flex-row flex-wrap justify-content-between" [style]="{'width': '100%'}">
      <div class="flex align-items-center mr-3" [style]="{'width': '20%'}">
        <label class="font-bold p-2">Desestimiento</label>
      </div>
      <div class="flex-grow-1 flex justify-content-center" [style]="{'width': '25%'}">
        <label class="font-bold p-2">Pendiente</label>
      </div>
      <div class="flex align-items-center gap-3 justify-content-end" [style]="{'width': '50%'}">
        <p-button icon="pi pi-file-edit" label="Desestimiento" styleClass="btn-primary" name="desestimiento"></p-button>
      </div>
    </div>
  </p-card>
</div>

