<div class="container-fluid m-0 p-0">
  <div class="flex m-0 p-0">
    <div class="col-12 col-md-1 m-0 p-0 col-menu">
      <div class="left-menu">
        <div class="image-icon text-center">
          <img src="assets/Iconos/IconoEveHealth2.png" alt="" class="iconoEvertHealth" style="width: 55px !important">
        </div>
        <div class="lineaHorizontalbarra">
        </div>
        <div class="image-icon-inicio mt-2">
          <img src="assets/images/inicio_white.png" alt="" style="width: 55px !important">
        </div>
      </div>
    </div>
    <div class="col m-0 p-0">
      <nav class="navbar navbar-light bg-light custom-navbar flex justify-content-between flex-wrap p-3">
        <div class="flex gap-2 align-items-center">
          <img src="assets/images/nota.png" class="imagenIconType">
          <div class="tituloGeneral">
            Gestión de fichas tecnicas
          </div>
        </div>
        <div class="flex align-items-center justify-content-center">
          <div class="fechaBarraTop"> {{ fecha | date:'EEEE, d MMMM , y':'+0200':'es'  }} </div>
        </div>
        <div class="flex gap-2 align-items-center justify-content-center">
          <div>
            <span class="usrMedico">
              {{_authService.datosUsuario.nombres}}
            </span>
          </div>
          <div class="grid-column-icon"><img class="imagUser" src="assets/images/icon.png"></div>
        </div>
      </nav>
      <div class="main-content p-4">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
