/* PrimeNG */
@import "primeng/resources/primeng.css";
@import "/node_modules/primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";

/* Font */
@import url(https://fonts.bunny.net/css?family=inter:400,500,600,700);

@import "remixicon/fonts/remixicon.css";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  font-family: "Inter", sans-serif;
  /* color: var(--slate-700); */
}
